/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease-in-out;
}

:root {
  --primary: #ebebeb;
  --secondary: #1e1e1e;
  --accent: #dea5a4;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

[data-theme="invert"] {
  --primary: #1e1e1e;
  --secondary: #ebebeb;
}

html,
body {
  background-color: var(--primary);
  height: 100%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: var(--accent);
}

section {
  background-color: var(--primary);
  color: var(--secondary);
  min-height: 100vh;
  position: relative;
  padding-bottom: 128px;
}

.section-heading {
  padding: 25px 0 25px 50px;
  border-bottom: solid 3px var(--accent);
  margin-bottom: 25px;
}

.section-continue {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.continue {
  font-size: 4rem;
  color: var(--accent);
}

/* NAV */
nav {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  width: 100%;
  margin: 0 auto;
  min-height: 10vh;
}

nav i {
  font-size: 3rem;
  cursor: pointer;
  color: var(--primary);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 2rem;
  width: 600px;
}

.overlay-close {
  display: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary);
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--accent);
}

.hamburger {
  display: none;
}

/* HERO */
.hero {
  min-height: calc(90vh + 2px);
  color: var(--primary);
  background-color: var(--secondary);
  overflow-y: auto;
  margin-top: -2px;
}

.hero-content {
  width: 100%;
  max-width: 2000px;
  margin: 100px auto 200px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.hero-text {
  padding: 5rem 0;
}

.hero-text p {
  margin-top: 2rem;
}

.hero-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-icons a {
  text-decoration: none;
  color: var(--primary);
  font-size: 3rem;
  transition: color 0.3s ease;
}

.hero-icons a:hover {
  color: var(--accent);
}

/* ABOUT */
.about-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 100px;
}

.about-headshot-wrapper {
  grid-column: 2 / 3;
  grid-row: span 2;
  width: 90%;
  margin: 0 auto;
  justify-self: flex-end;
  align-self: flex-start;
}

.about-headshot-wrapper img {
  width: 100%;
}

.about-p1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: flex-end;
}

.about-p2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
}

.about-p3 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  align-self: flex-start;
}

/* PORTFOLIO */

/* CONTACT */
footer {
  position: relative;
  background-color: var(--secondary);
  color: var(--primary);
  height: 100px;
}

/* LARGE SCREEN */
@media screen and (max-width: 1100px) {
  .about-content {
    grid-template-columns: auto 200px;
  }

  .about-headshot-wrapper {
    grid-row: 1 / 2;
  }

  .about-p2 {
    grid-column: 1 / 3;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  p {
    font-size: 1.6rem;
  }

  nav ul {
    display: none;
  }

  nav ul.active {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    z-index: 1000;
  }

  .overlay-close {
    display: block;
    position: absolute;
    font-size: 3rem;
    top: 23px;
    right: 50px;
  }

  nav ul li {
    margin: 3rem 0;
  }

  nav ul li a {
    color: var(--primary);
  }

  .hamburger {
    display: block;
  }

  .section-heading {
    text-align: center;
    padding-left: 0;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-icons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }

  .about-headshot-wrapper {
    width: 320px;
    margin-top: 20px;
  }

  .about-p {
    align-self: flex-start;
    margin-top: 1rem;
  }
}

/* MOBILE */
@media screen and (max-width: 450px) {
  nav {
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 500;
  }

  section {
    padding-top: 90px;
  }

  .hero {
    margin-top: 90px;
  }

  h1 {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .hero-content {
    padding: 0 25px;
  }

  .section-heading {
    text-align: center;
  }

  .section-continue {
    display: none;
  }

  .hero-content {
    margin: 0 0 44px;
  }

  .about-headshot-wrapper {
    width: 160px;
  }

  .about-content {
    padding: 0 20px;
  }
}
